@use "../variables" as v;
@use "../mixins" as m;

body {
  @include m.dark-theme() {
    background-color: v.$neutral-color-low-pure;
  }

  margin: 0;
  padding: 0;
  background-color: v.$neutral-color-hight-pure;
}

.container {
  padding: 1rem;
  max-width: 1920px;
  margin: auto;
}
