// Brand colors
$brand-color-primary-pure: #00747a;
$brand-color-primary-light: #e6f1f2;
$brand-color-primary-medium: #004649;
$brand-color-primary-dark: #123229;

$brand-color-secondary-dark: #1b293f;

$brand-color-highlight-pure: #f4a053;
$brand-color-highlight-light: #fce7d4;
$brand-color-highlight-medium: #c38042;
$brand-color-highlight-dark: #7a5029;

/* Font */
$font-family-base: "Lato", sans-serif;

$brand-color-feedback-error: #e68181;
$brand-color-feedback-error-dark: #5c0000;

$brand-color-feedback-regular: #81b9e6;
$brand-color-feedback-regular-dark: #004a5c;

$brand-color-feedback-good: #81e686;
$brand-color-feedback-good-dark: #035c00;
