// --- === Neutral Color === --- //

// Low
$neutral-color-black: #000;
$neutral-color-low-pure: #171919;
$neutral-color-low-light: #c9c9c9;
$neutral-color-low-medium: #aaa;
$neutral-color-low-dark: #4a4a4a;

// Hight
$neutral-color-hight-pure: #fff;
$neutral-color-hight-light: #f4f4f4;
$neutral-color-hight-medium: #eee;
$neutral-color-hight-dark: #e0e0e0;

// --- === Feedback colors === --- //
$feedback-color-helper-pure: #f07363;
$feedback-color-helper-light: #f8d7da;
$feedback-color-helper-medium: #c05c4f;
$feedback-color-helper-dark: #783931;

$feedback-color-warning-pure: #e6cf42;
$feedback-color-warning-light: #fff9db;
$feedback-color-warning-medium: #b8a635;
$feedback-color-warning-dark: #736721;

$feedback-color-success-pure: #41d394;
$feedback-color-success-light: #d4edda;
$feedback-color-success-medium: #34a976;
$feedback-color-success-dark: #206a4a;

$feedback-color-default-pure: #00747a;
$feedback-color-default-light: #e6f1f2;
$feedback-color-default-medium: #004649;
$feedback-color-default-dark: #123229;

$status-colors: (
  "success": $feedback-color-success-pure,
  "danger": $feedback-color-helper-pure,
  "warning": $feedback-color-warning-pure,
  "info": $feedback-color-default-pure,
);

$highlight-color-pure: #0d6efd;

$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;

$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;

$opacity-level-semiopaque: 0.8;
$opacity-level-intense: 0.64;
$opacity-level-mediun: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;

$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.5rem;
$spacing-07: 2rem;
$spacing-08: 2.5rem;
$spacing-09: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;
$spacing-12: 6rem;
$spacing-13: 10rem;

$all-spaces: (
  "1": $spacing-01,
  "2": $spacing-02,
  "3": $spacing-03,
  "4": $spacing-04,
  "5": $spacing-05,
  "6": $spacing-06,
  "7": $spacing-07,
  "8": $spacing-08,
  "9": $spacing-09,
  "10": $spacing-10,
  "11": $spacing-11,
  "12": $spacing-12,
  "13": $spacing-13,
);

//
%transition-link {
  transition: ease-in-out 0.25s opacity;
  &:hover {
    opacity: 0.5;
  }
}

%shadow-level-1 {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.08);
}
%shadow-level-2 {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-3 {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-4 {
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.24);
}

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
